@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import "icon.scss";

/*-- scss:defaults --*/

$font-family-sans-serif:	"Fira Sans", Helvetica, sans-serif !default;
$font-family-monospace:	"Source Code Pro", monospace !default;
$presentation-h-font12:	"Yanone Kaffeesatz", sans-serif !default; 
$presentation-h-font36: "Source Sans 3", sans-serif !default; 
$presentation-font-size-root:	32px !default;
$presentation-h1-font-size:	2.5em !default;
$presentation-h2-font-size:	2em !default;
$presentation-h3-font-size:	1.4em !default;
$presentation-font-smaller:	0.7 !default;
$presentation-line-height: 1.3 !default;
$presentation-title-slide-text-align: left !default;
$presentation-slide-text-align: left !default;
$code-block-font-size: 0.60em !default;

$primary-color: #262686 !default;
$secondary-color: #126DDA !default;
$body-fg-color: #000 !default;
$alert-color: #9c162a !default;
$example-color: #14B03D !default;
$body-bg: #f1f1f1 !default;
$body-color: $body-fg-color !default; 

$header-bg-color: $primary-color !default;
$selection-bg-color: #26351C !default;
$selection-fcolor: #fff !default;
$dark-bg-code-color: $example-color !default;
$link-color: $secondary-color !default;

$titleSlide-line: solid !default;
$h12-font-weight: 500 !default;
$h36-font-weight: 400 !default;
$cell-code-font-weight: normal !default;
$body-font-weight: 300 !default;
$authors-block-gap: 4em !default;

/*-- scss:rules --*/

.reveal {
    font-weight: $body-font-weight !important;
  
  h1, h2 {
    font-family: $presentation-h-font12;
    font-weight: $h12-font-weight;
  }

  h2 {
    display: none;
  }

  h3, h4, h5, h6 {
    font-family: $presentation-h-font36;
    font-weight: $h36-font-weight;
  }
  
  code {
    font-weight: $cell-code-font-weight;
  }
  
  strong {
    font-weight: $h12-font-weight;
  }
  
  blockquote {
    margin-left: 1em;
    
    p {
      padding: 5px;
      line-height: 1.2;
      color: lighten(#604c38, 20%);
    }
  }
  
  div.sourceCode {
    margin-top: 15px;
    box-shadow: 0px 0px 6px rgba(0,0,0,.1);
  }
  
  pre.sourceCode code {
    padding-top: 8px;
  }
  
  .alert { color: $alert-color; }
  .example { color: $example-color; }
  
  ::selection {
    color: $selection-fcolor;
    background: $selection-bg-color;
    text-shadow: none;
  }
  
  .callout {
    box-shadow: 0px 0px 6px rgba(0,0,0,.1);
    border-radius: 8px;
    
    .callout-body {
      font-weight: $body-font-weight !important;
      border-radius: 8px;
      
      code {
        font-size: 1.2em;
      }
      
      .callout-title {
        display: flex;
        align-items: flex-end;
      }
    }
  }
  
  section#references {
    font-size: 0.8em;
  }
  
  div.csl-entry {
    margin-bottom: 1em;
    font-weight: $cell-code-font-weight;
    
    span {
      color: gray;
    }
  }
  
  div.csl-entry::before {
    content: $book-icon;
  }
  
  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
  }
  
  .quarto-title-authors {
    padding-top: 20px;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    border-top: none;

    .quarto-title-author {
      padding-left: 0em !important;
      padding-right: $authors-block-gap !important;
      width: fit-content;
    }
  }
  
  .author,
  .quarto-title-author-name {
    color: $body-color;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  #title-slide .subtitle, 
  div.reveal div.slides section.quarto-title-block .subtitle {
    margin-bottom: 1.5rem;
  }
  
  .slide-background.title-slide {
    background-color: $primary-color;
  }
  
  div.header-logo { 
    grid-area: logo;
  }

  div.header-title {
    grid-area: ht;
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .breadcrumb-container {
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.4;

    .breadcrumb-line {
      margin: 0;
      font-weight: 300;
    }

    .level-1 {
      font-weight: 400;
      background-color: #000;
      padding: 4px 60px;
      width: 100vw;
      margin-left: -60px;
    }

    .level-2 {
      font-size: 0.85rem;
      background-color: #19195A;
      padding: 4px 60px;
      width: 100vw;
      margin-left: -60px;
    }

    .h2-title-line {
      margin-top: 8px;
      font-size: 3.2rem;
      font-weight: 500;
      font-family: $presentation-h-font12;
    }
  }

  div.reveal-header {
    display: grid;
    grid-template-columns: 3fr 0.35fr;
    grid-template-areas: "ht logo";
    column-gap: 10px;
    align-items: center;
    top: -5px;
    margin: 3.2px 0px 2px 0px;
    width: 100%;
    position: fixed;
    background: $header-bg-color;
    z-index: 5;
    
    .hedaer-title h2 {
      color: #fff !important;
    }
  }
  
  
  div.slides section:not(.title-slide):not(#title-slide):not(.stack) {
    padding-top: 2em;
    margin-top: 1.5em;
    padding-bottom: 3em;
  }

  div.slides section.smaller:not(.title-slide):not(#title-slide):not(.stack) {
    padding-top: 4em;
    margin-top: 1.5em;
    padding-bottom: 2em;
  }

  .header-logo img,
  .header-logo svg{
    margin: 0px 0px 0px 0px;
    padding-left: 3vw;
    padding-right: 18px;
    padding-top: 12px;
    height: 100%;
    width: auto;
    max-width: max(80px, 12vw);
    max-height: max(80px, 12vh);
  }

  img {
    display: block;
    margin: auto;
    padding: 12px;
  }
  
  .cell-output-display {
    max-height: 450px;
    overflow-y: auto;
  }
  
  .footer {
    color: #604c38;
  }

  .slide-number {
    color: #000;
  }
  
  .slide aside {
    bottom: 250px ;
    color: #604c38;
  }
  
  section[data-background-image] {
    color: white;
    
    h1, h2, h3, h4, h5, h5 {
      color: white;
    }
    
    code {
      color: $example-color;
      filter: brightness(2);
    }
  }
  
  .progress {
	  background-color: transparent;
	  color: #000;
  }

  .slide-menu-button,
  .slide-menu-button a,
  .slide-menu-button i,
  .slide-menu-button .fas,
  .slide-menu-button .fa-bars,
  .slide-menu-button svg,
  .slide-menu-button svg path,
  button.slide-menu-button,
  button.slide-menu-button i,
  button.slide-menu-button .fas,
  button.slide-menu-button svg,
  button.slide-menu-button svg path {
    color: #000 !important;
    fill: #000 !important;
    stroke: #000 !important;
  }
  
  .slide-menu-button i::before,
  .slide-menu-button .fas::before,
  .slide-menu-button .fa-bars::before,
  button.slide-menu-button i::before,
  button.slide-menu-button .fas::before {
    color: #000 !important;
    filter: none !important;
  }
  
  // Override Quarto's FontAwesome icon rendering for menu button with black SVG
  .reveal .slide-menu-button .fas::before,
  .reveal .slide-menu-button .fa-bars::before {
    color: #000 !important;
    filter: none !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000000' d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E") !important;
  }

  .reveal .controls,
  .reveal .controls button {
    color: #000 !important;
  }

  .reveal .controls .navigate-left,
  .reveal .controls .navigate-right,
  .reveal .controls .navigate-up,
  .reveal .controls .navigate-down {
    border-color: #000 !important;
  }

  // Override Reveal.js CSS variables for controls
  :root {
    --r-link-color: #126DDA;
    --r-link-color-dark: darken(#126DDA, 15%);
    --r-link-color-hover: lighten(#126DDA, 20%);
    --r-controls-color: #000;
  }

  // tables
  .slides table {
    
    margin-bottom: 0.80em;
    border-top: 2px solid lighten(#505453, 5%);
    border-bottom: 2px solid lighten(#505453, 5%);
    
    th, td {
      border: none;
      padding: 0.20em;
      font-size: 0.90em;
    }
    
    thead th {
      font-weight: normal;
    }
    
    thead th,
    tr:last-child td {
      border-bottom: 1px solid lighten(#505453, 10%);
    }
    
  }
  
  .slide {
    figure>figcaption {
      font-size: 0.80em;
    }
  }
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  margin-bottom: 1rem;
}


div[type="default"],
div[type="example"],
div[type="alert"] {
  
  .callout {
     border-radius: 0px;
     box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
  }
  .callout.callout-style-default {
     border-left: 1px solid;
  }
  
  div.callout-note {
     border-left-color: silver !important;
  }
  
  div.callout-note.callout-style-default .callout-title {
     background-color: #bebebe;
  }
}

div[type="example"] {
  div.callout-note.callout-style-default .callout-title {
     color: $example-color;
  }
}

div[type="alert"] {
  div.callout-note.callout-style-default .callout-title {
     color: $alert-color;
  }
}
